.filterBox-container {
    position: relative;
    top: 80px;
    right: 5px;
    width: 30%;
    height: 500px;
    float: right;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: medium;
    text-align: center;
    
    background-color: #5f5c6d;
}