.map-container {
    padding: 5px;
    background-color: seashell;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    top: 80px;
    left: 10px;
    width: 65%;
    height: 500px;
}

#map {
    height: 100%; 
    width: 100%;
}